.page {
  position: relative;
  color: #2d2d2d;
  min-height: 100svh;
}

.notFound {
  margin-top: 300px;
  text-align: center;
  font-size: 56px;
  font-weight: 800;
}

.sectionTitle {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.sectionText {
  font-size: 24px;
  font-weight: 500;
  padding: 0 40px;
  margin-bottom: 1rem;
}

.mobileDivider,
.mobileBreak {
  display: none;
}

.contentContainer {
  position: relative;
  padding: 80px 0 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.serviceHeader {
  display: flex;
  justify-content: space-between;
}

.askCallContainer {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .sectionText {
    font-size: 14px;
  }

  .mobileDivider,
  .mobileBreak {
    display: block;
  }

  .desktopDivider,
  .desktopBreak {
    display: none;
  }

  .contentContainer {
    padding: 30px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .askCallContainer {
    margin-top: 40px;
  }
}
