.serviceCard {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-wrap: balance;
}

.serviceCardHeader {
  display: flex;
  gap: 20px;
}

.serviceName {
  font-size: 25px;
  font-weight: 600;
}

.serviceDetails {
  font-size: 20px;
  font-weight: 500;
  text-wrap: balance;
}

.serviceCardButton,
.serviceCardButton:hover {
  color: #f9f9f9 !important;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e40af;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  border-radius: 3px;
  position: relative;
  overflow-x: hidden;
}

.serviceCardButton .serviceCardButtonFlare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 16px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, #f9f9f910, #f9f9f940);
  animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.askForCall,
.askForCall:hover {
  font-size: 24px;
  font-weight: 800;
  color: #1e40af !important;
}

@media (max-width: 768px) {
  .serviceIconContainer {
    max-width: 80px;
    max-height: 80px;
  }

  .serviceName {
    font-size: 16px;
  }

  .serviceDetails {
    font-size: 14px;
  }
}
