.page {
  color: #2d2d2d;
  min-height: 100svh;
}

.notFound {
  margin-top: 300px;
  text-align: center;
  font-size: 56px;
  font-weight: 800;
}

.contentContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.serviceHeader {
  display: flex;
  justify-content: space-between;
}
