.reviewsContainer {
  width: 100%;
  aspect-ratio: 0.66;
  overflow: hidden;
  border-radius: 5px;
}

.reviewsIframe {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 768px) {
  .reviewsContainer {
    aspect-ratio: 0.3;
  }
}
