.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.sectionText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.mobileDivider,
.mobileBreak {
  display: none;
}

.contentContainer {
  position: relative;
  padding: 100px 0 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.aboutArticle {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  font-size: 20;
  font-weight: 400;
}

.photoTextFlexbox {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.photosContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.photoContainer img {
  pointer-events: none;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.textTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.textListItem {
  margin-left: 30px;
  list-style: outside;
}

.textItalic {
  font-weight: 500;
  font-style: italic;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .sectionText {
    font-size: 14px;
  }

  .mobileDivider,
  .mobileBreak {
    display: block;
  }

  .desktopDivider,
  .desktopBreak {
    display: none;
  }

  .contentContainer {
    padding: 30px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .aboutArticle {
    padding: 10px;
    font-size: 16;
  }

  .photoTextFlexbox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, fit-content);
    grid-row-gap: 20px;
  }

  .photosContainer,
  .textsContainer {
    display: contents;
  }

  .mobileGrid1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .mobileGrid2 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .mobileGrid3 {
    grid-area: 6 / 1 / 7 / 2;
  }

  .mobileGrid4 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .mobileGrid5 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .mobileGrid6 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .mobileGrid7 {
    grid-area: 7 / 1 / 8 / 2;
  }

  .textListItem {
    margin-left: 20px;
    list-style: outside;
  }
}
