.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.sectionText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.mobileDivider,
.mobileBreak {
  display: none;
}

.homeCallSection {
  position: relative;
  width: 100%;
}

.homeCallBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  z-index: -2;
  min-height: fit-content;
}

.homeCallBackground img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.2;
  object-fit: cover;
}

.contentContainer {
  position: relative;
  padding: 100px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.homeCallSectionContent {
  height: min-content;
}

.callConteiner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.callButton,
.callButton:hover {
  color: #f9f9f9 !important;
  width: 404px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e40af;
  text-decoration: none;
  font-size: 32px;
  font-weight: 800;
  border-radius: 3px;
  position: relative;
  overflow-x: hidden;
}

.callButton .callButtonFlare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, #f9f9f910, #f9f9f940);
  animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

.askForCall,
.askForCall:hover {
  font-size: 24px;
  font-weight: 800;
  color: #1e40af !important;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .sectionText {
    font-size: 14px;
  }

  .mobileDivider,
  .mobileBreak {
    display: block;
  }

  .desktopDivider,
  .desktopBreak {
    display: none;
  }

  .contentContainer {
    padding: 30px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .callButton,
  .callButton:hover {
    width: 233px;
    height: 46px;
    font-size: 20px;
  }

  .askForCall,
  .askForCall:hover {
    font-size: 16px;
  }
}
