:root {
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-image: linear-gradient(to bottom right, #d9d9d9, #dfeff3);
  min-height: 100vh;
}

a:hover {
  opacity: 0.9;
}
