:root {
  --font-roboto: 'Roboto', sans-serif;
}

::selection {
  background-color: #2d2d2d85;
  color: #f9f9f9;
}

body {
  font-family: var(--font-roboto);
  background-image: linear-gradient(to bottom right, #d9d9d9, #dfeff3);
  min-height: 100vh;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease;
}

a:active,
button:active {
  opacity: 0.9;
}

a:hover {
  opacity: 0.9;
}
