.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.fieldContainer {
  width: 100%;
}

.inputField {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: none;
  background-color: #f9f9f933;
  font-size: 16px;
  font-weight: 500;
  color: #f9f9f9;
  transition: all 0.2s ease;
}

.inputField:focus {
  outline: 1px solid #f9f9f9;
}

.inputMessage {
  border: none;
  outline: none;
  resize: none;
  min-height: 200px;
}

.inputField::placeholder {
  color: #f9f9f9;
}

.buttonContainer {
  width: 30%;
  aspect-ratio: 4;
  background: linear-gradient(to bottom right, #eaefff, #d4deff);
  border-radius: 3px;
  box-shadow: 0 4px 35px #6c8bef4d;
}

.submitButton {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #2d2d2d;
}

@media (max-width: 768px) {
  .feedbackForm {
    gap: 20px;
  }

  .inputField {
    padding: 4px 5px;
    font-size: 14px;
  }

  .inputMessage {
    min-height: 90;
  }

  .submitButton {
    font-size: 16px;
  }
}
