.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  color: #f9f9f9;
}

.fieldContainer {
  width: 100%;
}

.inputField {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: none;
  background-color: #f9f9f933;
  font-size: 16px;
  font-weight: 500;
  color: #f9f9f9;
  transition: all 0.2s ease;
}

.inputField:focus {
  outline: 2px solid #f9f9f966;
  animation: glow 3s ease-in-out infinite;
}

.inputMessage {
  border: none;
  outline: 2one;
  resize: none;
  min-height: 200px;
}

.inputField::placeholder {
  color: #f9f9f9;
}

.agreeContainer {
  margin-top: 15px;
  width: 100%;
  display: flex;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.35;
  cursor: pointer;
}

.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customCheckbox::after {
  content: '';
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease;
  background: url("data:image/svg+xml,%3Csvg fill='white' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00039 10.8004L3.20039 8.00039L2.26606 8.93472L6.00039 12.6691L14.0004 4.66906L13.0661 3.73472L6.00039 10.8004Z'/%3E%3C/svg%3E")
    center/contain no-repeat;
}

.customCheckbox {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
  outline: 2px solid #f9f9f966;
}

.checkboxInput:checked + .customCheckbox {
  outline: 2px solid #f9f9f966;
}

.checkboxInput:checked + .customCheckbox::after {
  opacity: 1;
  transform: scale(2);
}

.checkboxInput:not(:checked) + .customCheckbox {
  outline: 2px solid #f9f9f966;
  animation: glow 3s ease-in-out infinite;
}

.legalLink {
  font-weight: 700;
}

.buttonStatusFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.buttonContainer {
  width: 30%;
  aspect-ratio: 4;
  background: linear-gradient(to bottom right, #eaefff, #d4deff);
  border-radius: 3px;
  box-shadow: 0 4px 35px #6c8bef4d;
}

.submitButton {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #2d2d2d;
}

.statusContainer {
  min-height: 30px;
}

.status {
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.statusHidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .buttonContainer {
    width: 40%;
    aspect-ratio: 3;
  }

  .feedbackForm {
    gap: 20px;
  }

  .inputField {
    min-height: 40px;
    padding: 10px 8px;
    font-size: 14px;
  }

  .inputMessage {
    min-height: 90;
  }

  .checkboxLabel {
    font-size: 12px;
  }

  .customCheckbox {
    width: 16px;
  }

  .submitButton {
    font-size: 16px;
  }

  .statusContainer {
    min-height: 20px;
  }

  .status {
    font-size: 16px;
  }
}

@keyframes glow {
  0% {
    outline: 2px solid #f9f9f966;
  }
  15% {
    outline: 2px solid #f9f9f999;
  }
  30% {
    outline: 2px solid #f9f9f9cc;
  }
  50% {
    outline: 2px solid #f9f9f9;
  }
  65% {
    outline: 2px solid #f9f9f9cc;
  }
  90% {
    outline: 2px solid #f9f9f999;
  }
  100% {
    outline: 2px solid #f9f9f966;
  }
}
