.closeIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
}

.feedbackPortal {
  position: fixed;
  inset: 0;
  min-height: max-content;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100vh;
}

.portalContentContainer {
  width: 100%;
  max-width: 800px;
  min-height: max-content;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
  background-color: #304b73;
  border-radius: 10px;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modalHeader {
  display: flex;
  align-self: center;
  justify-self: center;
}

.modalTitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.divider {
  position: relative;
  width: 200%;
  left: -20%;
  height: 2px;
  background: linear-gradient(
    90deg,
    #f9f9f9,
    #dff3ff,
    #b8e0ff,
    #dff3ff,
    #f9f9f9
  );
  background-size: 300% 100%;
  animation: shimmer 16s ease-in-out infinite;
}

.modalBody {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 40px;
}

.closeButtonWrapper {
  position: relative;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  .modalTitle {
    font-size: 20px;
  }

  .closeButtonWrapper {
    width: 20px;
    height: 20px;
  }

  .portalContentContainer {
    padding: 20px;
    max-width: calc(100% - 32px);
    gap: 9px;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }
  10% {
    background-position: 20% 0;
  }
  20% {
    background-position: 40% 0;
  }
  30% {
    background-position: 60% 0;
  }
  40% {
    background-position: 80% 0;
  }
  50% {
    background-position: 100% 0;
  }
  60% {
    background-position: 80% 0;
  }
  70% {
    background-position: 60% 0;
  }
  80% {
    background-position: 40% 0;
  }
  90% {
    background-position: 20% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
