.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.fieldContainer {
  width: 100%;
}

.inputField {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: none;
  background-color: #f9f9f933;
  font-size: 16px;
  font-weight: 500;
  color: #f9f9f9;
  transition: all 0.2s ease;
}

.inputField:focus {
  outline: 1px solid #f9f9f966;
  animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
  0% {
    outline: 1px solid #f9f9f966;
  }
  15% {
    outline: 1px solid #f9f9f999;
  }
  30% {
    outline: 1px solid #f9f9f9cc;
  }
  50% {
    outline: 1px solid #f9f9f9;
  }
  65% {
    outline: 1px solid #f9f9f9cc;
  }
  90% {
    outline: 1px solid #f9f9f999;
  }
  100% {
    outline: 1px solid #f9f9f966;
  }
}

.inputMessage {
  border: none;
  outline: none;
  resize: none;
  min-height: 200px;
}

.inputField::placeholder {
  color: #f9f9f9;
}

.buttonStatusFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 40px;
}

.buttonContainer {
  width: 30%;
  aspect-ratio: 4;
  background: linear-gradient(to bottom right, #eaefff, #d4deff);
  border-radius: 3px;
  box-shadow: 0 4px 35px #6c8bef4d;
}

.submitButton {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #2d2d2d;
}

.statusContainer {
  min-height: 30px;
}

.status {
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.statusHidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
  .feedbackForm {
    gap: 20px;
  }

  .inputField {
    padding: 4px 5px;
    font-size: 14px;
  }

  .inputMessage {
    min-height: 90;
  }

  .submitButton {
    font-size: 16px;
  }

  .statusContainer {
    min-height: 20px;
  }

  .status {
    font-size: 16px;
  }
}
