.footer {
  color: #f9f9f9;
  background-color: #304b73;
  height: 264px;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
  box-shadow: 0 -4px 20px #00000026;
}

.footerContentContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 202px;
  padding: 20px 0;
}

.footerLeftContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLogoContainer img {
  width: 380px;
  height: auto;
}

.footerLegal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.footerRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 84px;
  font-size: 16px;
  font-style: italic;
}

.footerListContainer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerListTitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 2px;
}

.footerListLink,
.footerListLink:hover {
  display: flex;
  gap: 3px;
  align-items: center;
}

.footerDivider {
  display: block;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #f9f9f9,
    #dff3ff,
    #b8e0ff,
    #dff3ff,
    #f9f9f9
  );
  background-size: 300% 100%;
  animation: shimmer 16s ease-in-out infinite;
}

.footerBot {
  min-height: 61px;
  display: flex;
  align-items: center;
}

.footerCopyrights {
  align-self: center;
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    height: 100%;
    max-height: 350px;
  }

  .footerContentContainer {
    margin: 0 16px;
    max-width: calc(100% - 32px);
  }

  .footerTop {
    flex-direction: column;
    gap: 20px;
  }

  .footerLeftContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footerLogoContainer img {
    width: 161px;
    height: auto;
  }

  .footerLegal {
    font-size: 10px;
    gap: 6px;
  }

  .footerRightContainer {
    flex-direction: column;
    gap: 26px;
  }

  .footerListContainer {
    font-size: 12px;
  }

  .footerListContainer ul {
    gap: 5px;
  }

  .footerListTitle {
    font-size: 14px;
  }

  .footerListLink img {
    width: 18px;
    height: 18px;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 0;
  }
  10% {
    background-position: 20% 0;
  }
  20% {
    background-position: 40% 0;
  }
  30% {
    background-position: 60% 0;
  }
  40% {
    background-position: 80% 0;
  }
  50% {
    background-position: 100% 0;
  }
  60% {
    background-position: 80% 0;
  }
  70% {
    background-position: 60% 0;
  }
  80% {
    background-position: 40% 0;
  }
  90% {
    background-position: 20% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
