.header {
  width: 100%;
  height: 100px;
  background-color: #2d2d2d;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  align-content: center;
}

.headerContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navLink,
.activeNavLink {
  font-weight: 400;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
}

.activeNavLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f9f9f9;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.headerCall,
.headerCall:hover {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
