.header {
  width: 100%;
  height: 100px;
  background-color: #2d2d2d;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 500;
  align-content: center;
}

.headerBackground {
  align-content: center;
  background-color: #2d2d2d;
}

.headerContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.headerLogoContainer img {
  width: 380;
  height: auto;
}

.headerNavDesktop {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navLink,
.activeNavLink {
  font-weight: 400;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
}

.activeNavLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f9f9f9;
  border-radius: 2px;
  transition: all 0.2s ease;
}

.headerCall,
.headerCall:hover {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}

.burgerButton {
  width: 20px;
  height: 16px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  align-self: center;
  cursor: pointer;
}

.burgerLine {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #f9f9f9;
  transition: 0.3s;
}

.headerNavMobile {
  display: none;
}

@media (max-width: 768px) {
  .header {
    font-size: 14px;
    height: 70px;
  }

  .headerLogoContainer img {
    width: 155px;
    height: auto;
  }

  .headerBackground {
    height: 100%;
    position: relative;
    z-index: 2;
  }

  .headerContent {
    margin: 0 16px;
  }

  .headerNavMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    z-index: 1;
    top: -300%;
    width: 100%;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 20px;
    background: #2d2d2d;
    transition: top 0.3s ease;
  }

  .headerNavMobile.navOpen {
    top: 0px;
    border-top: 1px solid #1e40af;
  }

  .burgerButton {
    display: flex;
  }

  .headerNavDesktop {
    display: none;
  }

  .headerCall {
    display: none;
  }
}
