.page {
  min-height: 100svh;
}

.homeServicesBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 843px;
  background-color: #304b73;
  z-index: -2;
}

.homeServicesBackground img {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 843px;
  z-index: -1;
  opacity: 0.1;
}

.homeServicesSectionContent {
  padding: 20px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mobileDivider {
  display: none;
}
