.page {
  color: #2d2d2d;
  min-height: 100svh;
}

.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.sectionText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.mobileDivider {
  display: none;
}

.homeServicesBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 870px;
  background-color: #304b73;
  z-index: -2;
}

.homeServicesBackground img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.1;
}

.homeServicesSectionContent {
  padding: 100px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #f9f9f9;
}

.serviceLinksContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto 30px;
}

.serviceLink,
.serviceLink:hover {
  width: 260px;
  height: 210px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.serviceLinkTitle {
  max-width: 148px;
  font-size: 20px;
  font-weight: 700;
  color: #2d2d2d;
  text-align: center;
}
