.section {
  margin: 100px auto 0;
  width: 100%;
  max-width: 1280px;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section {
    margin-top: 40px;
    max-width: calc(100% - 32px);
    font-size: 56px;
    font-weight: 700;
  }
}
