.page {
  min-height: 60svh;
  color: #2d2d2d;
  padding: 100px 0;
}

.notFoundContentContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.pageError {
  font-size: 64px;
  font-weight: 800;
}

.pageTitle {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
}

.animationContainer {
  width: 60%;
  aspect-ratio: 1;
}

.rightFlexbox {
  padding: 70px 20px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.goHomeLink,
.goHomeLink:hover {
  color: #f9f9f9 !important;
  width: 70%;
  aspect-ratio: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e40af;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  border-radius: 3px;
  position: relative;
  overflow-x: hidden;
}

.flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg);
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, #f9f9f910, #f9f9f940);
  animation: flareAnimation 3s infinite linear;
}

@keyframes flareAnimation {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@media (max-width: 768px) {
  .notFoundContentContainer {
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .pageError {
    font-size: 40px;
    order: 1;
  }

  .pageTitle {
    font-size: 24px;
    order: 2;
    text-align: center;
    margin: 0;
  }

  .animationContainer {
    width: 80%;
    order: 3;
  }

  .goHomeLink,
  .goHomeLink:hover {
    aspect-ratio: 4;
    font-size: 20px;
    order: 4;
  }

  .rightFlexbox {
    display: contents;
  }
}
