.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.sectionText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.mobileDivider,
.mobileBreak {
  display: none;
}

.ContactsFeedbackSection {
  position: relative;
  width: 100%;
}

.ContactsFeedbackBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #304b73;
  z-index: -2;
  min-height: fit-content;
}

.ContactsFeedbackBackground img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.1;
}

.contentContainer {
  position: relative;
  padding: 100px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #f9f9f9;
}

.gridboxContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 60px;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .sectionText {
    font-size: 14px;
  }

  .mobileDivider,
  .mobileBreak {
    display: block;
  }

  .desktopDivider,
  .desktopBreak {
    display: none;
  }

  .contentContainer {
    padding: 30px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .gridboxContainer {
    grid-template: 2fr 1fr / 1fr;
  }
}
