.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.sectionText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.mobileDivider,
.mobileBreak {
  display: none;
}

.contentContainer {
  position: relative;
  padding: 100px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.containerTitle {
  min-width: min-content;
  font-size: 20px;
  color: #2d2d2d;
  text-align: center;
  letter-spacing: 0.05em;
}

.reasonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto 30px;
  gap: 48px;
}

.reasonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 284px;
  min-height: fit-content;
  padding: 20px 15px;
  align-items: center;
}

.reasonContainerTitle {
  font-weight: 800;
}

.reasonContainerText {
  margin-top: 6px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-wrap-style: balance;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .sectionText {
    font-size: 14px;
  }

  .mobileDivider,
  .mobileBreak {
    display: block;
  }

  .desktopDivider,
  .desktopBreak {
    display: none;
  }

  .contentContainer {
    padding: 30px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .reasonsContainer {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  .reasonContainer img {
    width: 150px;
    height: auto;
  }

  .reasonContainerTitle {
    font-size: 16px;
  }

  .reasonContainerText {
    font-size: 14px;
  }
}
