.sectionTitle {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.05em;
}

.sectionText {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.mobileDivider,
.mobileBreak {
  display: none;
}

.contentContainer {
  position: relative;
  padding: 100px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.containerTitle {
  min-width: min-content;
  font-size: 20px;
  color: #2d2d2d;
  text-align: center;
  letter-spacing: 0.05em;
}

.carouselSlider {
  border-radius: 20px;
  cursor: grab;
}

.carouselSlider:active {
  cursor: grabbing;
}

.salesContainer {
  width: 100%;
  display: flex;
}

.saleContainer {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}

.saleContainerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 800;
}

.salesImageContainer {
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
  color: #f9f9f9;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .sectionText {
    font-size: 14px;
  }

  .mobileDivider,
  .mobileBreak {
    display: block;
  }

  .desktopDivider,
  .desktopBreak {
    display: none;
  }

  .contentContainer {
    padding: 30px 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    gap: 20px;
  }

  .saleContainerTitle {
    font-size: 16px;
    font-weight: 800;
    margin-top: 30px;
  }

  .salesImageContainer {
    font-size: 14px;
    font-weight: 400;
  }

  .saleContainer {
    height: 200px;
  }
}
